{% extends "base.html" %} {% block bodycontent %}
<div class="container">
    <div class="pull-right">
        <a class="btn btn-link" href="/blog"><i class="fa fa-times" aria-hidden="true"></i> Close</a>
        <a class="btn btn-link" href="/blog/{{blog.key().id()}}/edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
        <a class="btn btn-link" href="/blog/{{blog.key().id()}}/delete"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
        <!--             <a class="btn btn-link" href="/blog"><i class="fa fa-share" aria-hidden="true"></i> Share</a> -->
    </div>
    <div>
        <h2>{{blog.subject}}</h2>
        <cite>- {{blog.username}}</cite>
        <small class="label pull-right">Last modified: {{blog.last_modified.strftime('%c')}}</small>
    </div>
    <div class="content">
        {{blog.content}}
    </div>

    <form class="circle" method="post">
        {% if liked==True %}
        <a href="/blog/{{blog.key().id()}}/like" class="btn btn-link" id="likebutton"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
        {% endif %}
        {% if liked==False %}
        <a href="/blog/{{blog.key().id()}}/unlike" class="btn btn-link" id="likebutton"><i class="fa fa-heart" aria-hidden="true"></i></a>
        {% endif %}
        <!-- <a class="btn btn-link" id="likebutton"><i class="fa fa-share" aria-hidden="true"></i> Share</a> -->
    </form>
    <div class="clearfix"></div>
    <div>
        <div class="chip-sm">
            <span class="chip-name"><i class="fa fa-heart-o" aria-hidden="true"></i> {{blog.likes}}</span>
        </div>
        <div class="chip-sm">
            <span class="chip-name"><i class="fa fa-comments-o" aria-hidden="true"></i> {{blog.comments}}</span>
        </div>
        <div class="pull-right">
            <small class="label">Created: {{blog.created.strftime('%c')}}</small>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="divider"></div>
    <form method="post" action="/blog/{{blog.key().id()}}/addComment">
        <div class="form-group">
            <textarea class="form-input" id="input-example-3" placeholder="Your views" rows="3" name="comment"></textarea>
        </div>
        <input class="btn btn-primary" type="submit" name="comment">
        <a class="btn btn-link" href="/blog/{{blog.key().id()}}">Cancel</a>
    </form>
    <div class="divider"></div>
    <div>
        {% for comment in comments %}
        <blockquote>
            <p>{{comment.comment}}</p>
            <cite>{{comment.username}}</cite>
            <cite>{{comment.created.strftime('%c')}}</cite>
            <!-- <small class="label">Created: {{blog.created}}</small> -->
        </blockquote>
        {% endfor %}
    </div>
</div>
{% endblock %}
